## Reporting: wrangle_report

# We-Rate-Dogs

The dataset wrangled analyzed and visualized in this project is from a tweet archive of Twitter user @dog_rates(WeRateDogs).WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog.

### Gathering Data for this project

I have gathered each of the three pieces of data in the jupyter Notebook wrangle_act.ipynb;
twitter_archive_enhanced.csv as twitter_archive
image_predictsions.tsv as image_predictions 
read tweepy data as json_data

### twitter_archive

'
The twitter archive contains data directly retrived from the twitter handle.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB
    '

### image_predictions

 '
    <class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB
    '

### json_data

''<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
tweet_id          2354 non-null int64
retweet_count     2354 non-null int64
favorite_count    2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB'

Before any cleaning of the data I started by making copies of each of the data set and later merged them to have one whole dataset as df.This solved the tidiness issue listed below of having separate dataframes.The rest of the issues have been well outlined in the wrangle_act with code and comments to accompany it.

### Quality issues
1.The timestamp is present as an object, which is supposed to be converted into datetime to be exploitable.


2.The "tweet_id" currently present as an 'INT' should be converted to 'string' datatype.

3.Some retweets present (RT @ ...)

4.Several rows with wrong rating denominators and some rows with rating denominator below 10

5.Text and http url are joined together in the text column

6.Unnecessary columns

7.55 names 'a', 7 names 'an'

8.Some replies to other users present

### Tidiness issues
1.The variables doggo, floofer, pupper and puppo should be a part of a single column.

2.Datasets in separate dataframes

### Final Cleaning for Quality
Once I completed the quality and tidiness issue steps I removed several unnecessary columns.
These were:

['doggo', 'floofer', 'pupper','puppo', 'nostage', 'multi_stage', 'rating_numerator', 'rating_denominator', 'in_reply_to_status_id', 'in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id', 'retweeted_status_timestamp']